# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- develop

pool:
  vmImage: windows-latest

steps:
- task: UseDotNet@2
  displayName: 'Install .NET Core SDK'
  inputs:
    version: 8.0.100
    performMultiLevelLookup: true
    includePreviewVersions: true # Required for preview versions

- script: dotnet workload install maui
  displayName: 'Workload Install'

- task: DotNetCoreCLI@2
  displayName: "Build"
  inputs:
    command: 'build'

- task: DotNetCoreCLI@2
  displayName: "Test"
  inputs:
    command: 'test -m:1'
